@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background: #B3DBF0; border-radius: 20px; padding: 1em;">
    <h1 class="display-4" style="color: #0040C1;">Welcome David Castillo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
